html {
    background:black;
    min-width:500px;
    /*border:1px solid white;
    min-height: calc(100vh - 5px);*/
}

body {
    padding: 10px 15px;
}

@font-face {
    font-family: Helvetica Neue;
    src: url(HelveticaMedEx.ttf)
}

header {
    position: fixed;
    width:calc(100vw - 65px);
    z-index: 99;
}

header a {
    display:inline;
    color:white;
    font-family: Helvetica Neue, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 1.5vw;
}

header a:hover {
    text-decoration: underline;
}

#about-link {
    float:right;
}

img {
    position:absolute;
    top:-3500px;
}

#dem-tap-lim-img {
    width:33vw;
    top:11vw;
    left:29vw;
    transform: rotate(-7deg);
}

#dem-tap-img {
    top:27vw;
    width:21vw;
    left:9vw;
    transform: rotate(-15deg)
}

#ugm-fol-img {
    top:39vw;
    width:25vw;
    left:64vw;
    transform: rotate(-17deg)
}

#weih-img {
    width:74vw;
    top:79vw;
    left:9vw;
    transform:rotate(15deg);
}

#good-int-img {
    width:20vw;
    top:120vw;
    left:10vw;
    transform:rotate(-25deg);
}

#st-img {
    top:135vw;
    left:35vw;
    width:18vw;
    transform:rotate(10deg);
}

#sea17-img {
    top:155vw;
    width:18vw;
    transform:rotate(-15deg);
    left:65vw;
}

#lien-stift-img {
    width:40vw;
    top:175vw;
    transform:rotate(-7deg);
    left:17vw;
}

#show-fly-img {
    width:60vw;
    top:213vw;
    transform:rotate(-15deg);
    left:27vw;
}

footer {
    font-family: Helvetica Neue, Helvetica, sans-serif;
    color:white;
    font-size:1.5vw;
    position:absolute;
    top:295vw;
    margin-bottom:10px;
}