/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/* RESET CSS */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {box-sizing: border-box;}
*, *:before, *:after {box-sizing: inherit;}


/* START CODE */

body {
    background: #000;
    color: #fff;
    font-size: 0.625em;
    font-family: Orbitron;
    line-height: 3.15em;
}

header {
    z-index: 2;
    position: fixed;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    height: 7em;
    width: 100vw;

}

a h1 {
    font-size: 3em;
    font-weight: 800;   
    margin-top: 0.4em;
    margin-left: 0.5em;
}

p a {
    font-weight: 800
}

.project {
    mix-blend-mode: screen;
    cursor: pointer;
}

.gradientfooter {
    position: fixed;
    bottom: 0;
    height: 7em;
    width: 100vw;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

#zoomin {
    z-index: 3;
    position: fixed;
    bottom: 0.25em;
    right: 0.18em;
    width: 50vw;
    font-size: 6em;
    text-align: right;
    cursor: pointer;
}

#zoomout {
    z-index: 1;
    position: fixed;
    bottom: 0.25em;
    left: 0.18em;
    width: 50vw;
    font-size: 6em;
    cursor: pointer;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: rgb(120, 0, 255);
}

.displayNone {
    display: none !important;
}

.overlay {
    position: fixed;
    bottom: 0;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0) 40%);
    height: 100vh;
    width: 100vw;
}

#displaytext{
    position: fixed;
    bottom: 0;
    height: 30vh;
    width: 100vw;
    padding-left: 15vw;
    padding-right: 15vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 3em
}

.placeholder {
    pointer-events: none;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    }

.layout {
    position: relative;
}

/* LOGOS – LOGOS – LOGOS – LOGOS */    
.yungbellyachelogo {
    height: 9.5%;
    position: absolute;
    top: 2.4%;
    left: 5.9%;
    transform: rotate(4deg)
    }

.bokorlogo {
    height: 11%;
    position: absolute;
    top: 11.2%;
    left: 3.3%;
    transform: rotate(5deg)
    }  

.imperiologo {
    height: 5%;
    position: absolute;
    top: 4.9%;
    left: 19.7%;
    transform: rotate(-4deg)
    }  

.karoshilogo {
    height: 2.65%;
    position: absolute;
    top: 29.25%;
    left: 33.6%;
    transform: rotate(2.5deg)
    }

.feverdreamslogo {
    height: 9.75%;
    position: absolute;
    top: 2.3%;
    left: 34.22%;
    transform: rotate(-0.2deg)
    }  

.archaicreignlogo {
    height: 9.2%;
    position: absolute;
    top: 22.1%;
    left: 3.9%;
    transform: rotate(-4deg)
    }

.cryochamberlogo {
    height: 5.55%;
    position: absolute;
    top: 42.8%;
    left: 16.05%;
    transform: rotate(-2.8deg)
    }

.suppressivefirelogo {
    height: 3.44%;
    position: absolute;
    top: 22.95%;
    left: 24.45%;
    transform: rotate(-1.3deg)
    }

.zyanidlogo {
    height: 5.9%;
    position: absolute;
    top: 29.7%;
    left: 50.92%;
    transform: rotate(-0.4deg)
    }

.ikigailogo {
    height: 14.15%;
    position: absolute;
    top: 38.3%;
    left: 61%;
    transform: rotate(5.2deg)
    }

.vulturereignlogo {
    height: 4.65%;
    position: absolute;
    top: 48.35%;
    left: 40.45%;
    transform: rotate(2.8deg)
    }

.excoriatedlogo {
    height: 6.55%;
    position: absolute;
    top: 4.05%;
    left: 75.3%;
    transform: rotate(-2deg)
    }


/*  P  R  O  J  E  C  T  S  --  P  R  O  J  E  C  T  S  */

/* TAPES - TAPES - TAPES */
.qualtape {
    height: 8%;
    position: absolute;
    top: 15.35%;
    left: 14%;
    transform: rotate(-83deg)
}

.suppressivefiretape {
    height: 8%;
    position: absolute;
    top: 12.5%;
    left: 23.6%;
    transform: rotate(-91deg)
}

.dxoxetape {
    height: 8%;
    position: absolute;
    top: 13%;
    left: 35.6%;
    transform: rotate(-4deg)
}

.dxoxespread1 {
    height: 7.05%;
    position: absolute;
    top: 20.8%;
    left: 43.5%;
    transform: rotate(0.2deg)
}

.dxoxespread2 {
    height: 7.05%;
    position: absolute;
    top: 13.25%;
    left: 47.8%;
    transform: rotate(-3.2deg)
}

.feverdreamstape {
    height: 8%;
    position: absolute;
    top: 4.3%;
    left: 48.1%;
    transform: rotate(-1deg)
}

.bellevuetape {
    height: 8%;
    position: absolute;
    top: 3.1%;
    left: 62.5%;
    transform: rotate(-5deg)
}

.zyanidtape {
    height: 8%;
    position: absolute;
    top: 21.3%;
    left: 55.7%;
    transform: rotate(-3deg)
}

.clayxregazzonitape {
    height: 8%;
    position: absolute;
    top: 30%;
    left: 64.5%;
    transform: rotate(2deg)
}

.loosetape {
    height: 8%;
    position: absolute;
    top: 41.7%;
    left: 67.5%;
    transform: rotate(-92deg)
}

.vulturereigntape {
    height: 8%;
    position: absolute;
    top: 38.5%;
    left: 49.5%;
    transform: rotate(-89deg)
}

/* POSTER - POSTERS - POSTERS */
.colaniposter {
    height: 47.2%;
    position: absolute;
    top: 50%;
    left: 3.4%;
    transform: rotate(1.8deg);
}

.brutalizmposter {
    height: 44.4%;
    position: absolute;
    top: 54.3%;
    left: 37.6%;
    transform: rotate(-1.2deg);
}

.solarisposter {
    height: 30.3%;
    position: absolute;
    top: 66.3%;
    left: 71.8%;
    transform: rotate(-1.4deg);
}

/* MISC - MISC - MISC - MISC */
.zermalmencover1 {
    height: 20%;
    position: absolute;
    top: 30.5%;
    left: 77.9%;
    transform: rotate(-1.1deg);
}

.zermalmencover2 {
    height: 20%;
    position: absolute;
    top: 10.4%;
    left: 78.1%;
    transform: rotate(1deg);
}

.loosecover1 {
    height: 14.2%;
    position: absolute;
    top: 51%;
    left: 69.75%;
    transform: rotate(178deg);
}

.loosecover2 {
    height: 14.2%;
    position: absolute;
    top: 50.45%;
    left: 82.5%;
    transform: rotate(181.5deg);
}

.cryochamberartwork {
    height: 13%;
    position: absolute;
    top: 28.3%;
    left: 18%;
    transform: rotate(3.8deg);
}

.karoshiartwork {
    height: 13.75%;
    position: absolute;
    top: 33.6%;
    left: 35.5%;
    transform: rotate(-2.3deg);
}

.medicationtimeflyer {
    height: 14.7%;
    position: absolute;
    top: 32.35%;
    left: 4.4%;
    transform: rotate(0.5deg);
}

.typedesign1 {
    height: 12%;
    position: absolute;
    top: 10.2%;
    left: 65%;
    transform: rotate(87deg);
}

.typedesign2 {
    height: 8%;
    position: absolute;
    top: 19.7%;
    left: 69.5%;
    transform: rotate(88.3deg);
}



/*ABOUT PAGE — ABOUT PAGE — ABOUT PAGE*/

.abouttext {
    z-index: 3;
    font-size: 3em;
    max-width: 960px;
    position: fixed;
    bottom: 2em;
    margin: 0em 0.5em;
}

.aboutgradient {
    z-index: 2;
    width: 100vw;
    height: 40vh;
    position: fixed;
    bottom: 0;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

#gesicht {
    z-index: 1;
    width: 100%;
}


/* MOBILE */

@media (max-width: 600px) {
    #displaytext{
        position: fixed;
        bottom: 0;
        height: 30vh;
        width: 100vw;
        padding-left: 10vw;
        padding-right: 10vw;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 2em;
        line-height: 1.1em;
    }
    
    .abouttext {
    z-index: 3;
    font-size: 2em;
    line-height: 1.1em;
    max-width: 960px;
    position: fixed;
    bottom: 2em;
    margin: 0em 0.8em;
}

}